/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

/* reset css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Red Hat Display", sans-serif;
}

/* colors */
:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
    font-size: 16px;
}

main {
    min-width: 100%;
    min-height: 100vh;
    background: url("./images//pattern-background-desktop.svg") top -70px center/contain
            no-repeat,
        var(--pale-blue);
    display: grid;
    justify-content: center;
    align-content: center;
}
.card {
    width: 380px;
    background-color: #ffffff;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card__image {
    grid-column: 1/-1;
    width: 100%;
}

.card__title {
    color: var(--dark-blue);
    text-align: center;
    font-size: 1.5em;
    font-weight: 900;
    padding: 20px 20px 0;
}
.card__description {
    text-align: center;
    padding: 0 20px;
    color: var(--desaturated-blue);
}

.card__pricing {
    margin: 0 35px;
    padding: 20px;
    background-color: var(--very-pale-blue);
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    border-radius: 12px;
}

.pricing__image {
    justify-self: center;
}

.pricing__plan {
    grid-column: span 2;
    font-size: 0.9rem;
}

.pricing__plan--bold {
    color: var(--dark-blue);
    font-weight: 900;
    font-size: 0.9rem;
}

.pricing__plan--light {
    font-size: 0.9rem;
    color: var(--desaturated-blue);
}
.pricing__link {
    grid-column: span 1 / -1;
    justify-self: end;
    color: var(--bright-blue);
    font-size: 0.8rem;
    font-weight: 700;
}
.card__button {
    background-color: var(--bright-blue);
    color: var(--very-pale-blue);
    border: none;
    margin: 0 35px;
    padding: 12px;
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: 900;
}

.card__button:hover {
    cursor: pointer;
    background-color: hsla(245, 75%, 52%, 80%);
}

.card__footer {
    justify-self: center;
    padding: 10px 20px 40px;
    font-size: 12px;
    font-weight: 900;
}

.card__cancel {
    color: var(--desaturated-blue);
    text-decoration: none;
}
.card__cancel:hover {
    color: var(--dark-blue);
}
.attribution {
    background-color: var(--very-pale-blue);
    padding: 15px 0;
    text-align: center;
    color: var(--desaturated-blue);
    font-weight: 500;
    font-size: 0.9rem;
}

.attribution p {
    word-spacing: 0.1rem;
}
.attribution a {
    text-decoration: none;
    color: var(--desaturated-blue);
    position: relative;
}

.attribution a::after {
    content: " ";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--bright-blue);
    width: 100%;
    height: 3px;

    transform: scalex(0.4);
    transform-origin: left;
    transition: transform 250ms ease-in;
}

.attribution a:hover::after {
    transform: scalex(1);
}
